<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/speed.css' %}">
</head>
<body>
<nav class="navbar myrole" role="navigation" id="navbar">
    <div class="container">
        <img id="id" style="width:70px;height:50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTu20HgDymXN4mJxmiJy8rkFzAxxsxGycd0jw&usqp=CAU">
        <a class="navbar-brand mynav" style="font-size:35px" href="{% url 'home' %}">
            SpeedCare</a>
        <ul class="nav navbar-nav navbar-right">

            <li><a class="btn btn-simple" style="font-size:25px" href="{% url 'thanks' %}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="col-md-8">

<div class="card" style="margin-left:100px;margin-top:50px">
    <img class="card-img-top" src="https://new-img.patrika.com/upload/2020/05/07/hospital_6093843_835x547-m.jpeg" alt="Image" style="width:350px; height:250px">
    <div class="card-body">
        <h1 class="card-title">{{clinic.name}}</h1>
        <p>
            <div class="card-text" style="font-size:25px">
        <p><strong>Address:</strong>{{clinic.address}}</p>
        <p><strong>City:</strong>{{clinic.city}}</p>
    </div>
    </p>
</div>
</div>
</div>



<div class="col-md-4">
    <h1>List of doctors</h1>
    {% if not clinic.doctors.count %}
    <h2>No doctors registered in the site</h2>
    {% else %}
    {% for doctor in clinic.doctors.all %}
    {% include 'doctor/_doctor.html' %}
    {% endfor %}
    {% endif %}
</div>
</body>
</html>