<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/speed.css' %}">
</head>
<body>
<nav class="navbar myrole" role="navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">SpeedCare</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-simple active" href="{% url 'speed:for_patient' username=appointment.patient.user %}">Home</a></li>
            <li><a class="btn btn-simple" href="{% url 'speed:logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class=" col-md-8 pat" style="margin-top:60px"></div>
<div class="col-md-4" style="margin-top:120px">
    <div class="list-group">
        <div class="list-group-item" style="background-color:green;color:white">
        <h3 class="title list-group-item-heading">
            <img src="https://cdn5.vectorstock.com/i/1000x1000/93/34/green-check-mark-icon-checkmark-in-circle-for-vector-26839334.jpg" style="width:40px;height:40px">
            Patient portal</h3>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" style="background-color:green;color:white">
        <h3 class="title list-group-item-heading">
            <img src="https://cdn5.vectorstock.com/i/1000x1000/93/34/green-check-mark-icon-checkmark-in-circle-for-vector-26839334.jpg" style="width:40px;height:40px">
            Home-View appointments</h3>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" style="background-color:green;color:white">
        <h3 class="title list-group-item-heading">
           <img src="https://cdn5.vectorstock.com/i/1000x1000/93/34/green-check-mark-icon-checkmark-in-circle-for-vector-26839334.jpg" style="width:40px;height:40px">
            Fix appointments with specialists</h3>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" style="background-color:green;color:white">
        <h3 class="title list-group-item-heading">
           <img src="https://cdn5.vectorstock.com/i/1000x1000/93/34/green-check-mark-icon-checkmark-in-circle-for-vector-26839334.jpg" style="width:40px;height:40px">
            Search for clinics in your city</h3>
        </div>
    </div>
</div>





</body>

</html>